
$xxl-min-width: 1400px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$fluid: 100%;

$extra-extra-sm-fz: 12px;
$extra-sm-fz: 14px;
$card-text-fz: 16px;
$sm-fz: 18px;
$servicesTitle-fz: 24px;
$md-fz: 32px;
$lg-fz: 42px;

$tabs_font_and-link-color: #F0145A;

$accordion-bg: #323264;
$gray: #cccc;

$successful-cases-bg: #F5F5FA;
$successful-cases-textColor: #686887;
$companyColor: #B3B3BA;

$text-and-link-color: #24A3FF;
$card-subTitle-color: #B3B3BA;

$publicationBg: #F5F5FA;

$secondPage-headerColor: #B3B3BA;