@include  desktop-xxl() {
  .team{
    padding-top: 70px;
    .responsibility{
      @extend %gradient;
      font-size: $lg-fz;
      max-width: 874px;
      margin: 0 auto;
    }

    .img-info-wrapper {
      display: flex;
      justify-content: inherit;

      .name{
        font-size: $secondPage-fz;
      }

      .name-description{
        font-size: $card-text-fz;
        color: $secondPage-headerColor;
      }

      .team-arrow{
        margin-left: 20px;
      }
    }
  }
}

@include  desktop-xl() {
  .team{
    padding-top: 70px;

    .img-info-wrapper {
      display: flex;
      justify-content: inherit;
    }
  }
}

@include  lg() {
  .team{
    padding-top: 70px;

    .img-wrapper{
      text-align: center;
    }

    .img-info-wrapper {
      display: flex;
      justify-content: inherit;
      padding-left: 146px;
    }
  }
}

@include  md() {
  .team{
    padding-top: 70px;

    .img-wrapper{
      text-align: center;
    }

    .img-info-wrapper {
      display: flex;
      justify-content: inherit;
      padding-left: 55px;
    }
  }
}

@include  sm() {
  .team{
    padding-top: 70px;
    .team-info-wrapper {
      display: flex;
      align-items: center;
      .img-wrapper {
        text-align: inherit;

        .team-img {
          display: none;
        }

        .mini-img {
          display: inline-block;
        }
      }
    }

    .img-info-wrapper {
      display: flex;
    }
  }
}