@include desktop-xxl() {
  .publication{
    height: 1400px;

    .cards-wrapper{
      position: relative;

      .card{
        @include card-size(400px, 232px);
        position: absolute;
        top: 0;
        left: 43px;
      }

      .second-card {
        @include card-size(400px, 420px);
        position: absolute;
        top: 0;
        left: 550px;
      }

      .third-card {
        @include card-size(400px, 462px);
        margin-left: 40px;
        position: absolute;
        top: 440px;
        left: 550px;
      }

      .fourth-card {
        @include card-size(400px, 416px);
        position: absolute;
        top: 218px;
        right: 727px;
      }

      .fifth-card {
        position: absolute;
        top: 652px;
        right: 683px;
      }

      .sixth-card {
        position: absolute;
        top: 890px;
        right: 150px;
      }

    }

    .shade-block {
      position: relative;
      .shade {
        position: absolute;
        top: 884px;
      }
    }
  }
}

@include desktop-xl() {
  .publication{
    height: 1400px;

    .cards-wrapper{
      position: relative;

      .card{
        position: absolute;
        top: 0;
        left: 43px;
      }

      .second-card {
        position: absolute;
        top: 0;
        left: 468px;
      }

      .third-card {
        margin-left: 40px;
        position: absolute;
        top: 440px;
        left: 469px;
      }

      .fourth-card {
        position: absolute;
        top: 218px;
        right: 727px;
      }

      .fifth-card {
        position: absolute;
        top: 652px;
        right: 505px;
      }

      .sixth-card {
        position: absolute;
        top: 890px;
        right: 50px;
      }

    }

    .shade-block {
      position: relative;
      .shade {
        position: absolute;
        top: 884px;
      }
    }
  }
}

@include lg() {
  .publication{
    height: 2750px;

    .cards-wrapper{
      position: relative;

      .card{
        position: absolute;
        top: 0;
        left: 163px;
      }

      .second-card {
        position: absolute;
        top: 679px;
        left: 127px;
      }

      .third-card {
        margin-left: 40px;
        position: absolute;
        top: 1113px;
        left: 127px;
      }

      .fourth-card {
        position: absolute;
        top: 218px;
        left: 164px;
      }

      .fifth-card {
        position: absolute;
        top: 1556px;
        right: 145px;
      }

      .sixth-card {
        position: absolute;
        top: 1805px;
        right: 145px;
      }

    }

    .shade-block {
      position: relative;
      .shade {
        position: absolute;
        top: 1808px;
      }
    }
  }
}

@include md() {
  .publication{
    height: 1246px;

    .cards-wrapper{
      position: relative;

      .card{
        position: absolute;
        top: 0;
        left: 83px;
      }

      .second-card {
        position: absolute;
        top: 241px;
        left: 44px;
      }

      .third-card {
        display: none;
      }

      .fourth-card {
        position: absolute;
        top: 634px;
        left: 85px;
      }

      .fifth-card {
        display: none;
      }

      .sixth-card {
        display: none;
      }

    }

    .shade-block {
      position: relative;
      .shade {
        position: absolute;
        top: 826px;
      }
    }
  }
}

@include sm() {
  .publication{
    height: 1246px;

    .cards-wrapper{
      position: relative;

      .card{
        position: absolute;
        top: 0;
        left: 33px;
      }

      .second-card {
        position: absolute;
        top: 241px;
        left: -7px;
      }

      .third-card {
        display: none;
      }

      .fourth-card {
        position: absolute;
        top: 634px;
        left: 33px;
      }

      .fifth-card {
        display: none;
      }

      .sixth-card {
        display: none;
      }

    }

    .shade-block {
      position: relative;
      .shade {
        position: absolute;
        top: 826px;
        max-width: 420px;
      }
    }
  }
}