.lawyer-block {
  background-image: url("./../images/lawyer-bg.png");
  height: 500px;
  @extend %styles-for-bg;
  .collapse-wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
    .btn{
     @extend %collapse-btn-style;
      color: white;

      &:nth-child(4){
        max-width: 500px;
      }
    }

    .collapse-text-wrapper{
      padding-left: 20px;
    }

      .card{
        width: 575px;
        background-color: #323264;
        color: white;
        border: none;
      }
  }

  .accordion{
    display: none;
  }

}