@include  desktop-xxl() {
  .another-header {
    .header-content {
      .header-menu {
        nav {
          .menu-wrapper {
            .menu-wrapper__link-wrapper {
              &:nth-child(3) {
                padding-right: 20px;
              }
            }

            .mobile-menu-wrapper {
              display: none;

              .mobile-menu {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

@include desktop-xl() {
  .another-header {
    .header-content {
      .header-menu {
        .header-menu__logo {
          width: 307px;
          height: 63px;
        }

        nav {
          .menu-wrapper {
            .menu-wrapper__link-wrapper {
              &:nth-child(3) {
                padding-right: 20px;
              }
            }
          }

          .mobile-menu-wrapper {
            .mobile-menu {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include lg() {
  .another-header {
    .header-content {
      .header-menu {
        nav {
          .menu-wrapper {
            .menu-wrapper__link-wrapper {
              &:nth-child(3) {
                padding-right: 20px;
              }
            }


            .menu-wrapper__text {
              display: none;
            }

            .menu-wrapper__dot {
              display: none;
            }

            .menu-wrapper__facebook {
              display: none;
            }

          }


          .tabs-wrapper {
            display: none;
          }

          .mobile-menu-wrapper {
            display: inline-block;
            margin-left: 236px;

            .menu-wrapper__language-wrapper {
              display: none;
            }

            .menu-wrapper__number {
              display: none;
            }

            .mobile-menu {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@include md() {
  .another-header {
    .header-content {
      .header-menu {
        nav {
          .menu-wrapper {
            .menu-wrapper__link-wrapper {
              display: none;

              &:nth-child(3) {
                padding-right: 20px;
              }
            }


            .menu-wrapper__text {
              display: none;
            }

            .menu-wrapper__dot {
              display: none;
            }

            .menu-wrapper__facebook {
              display: none;
            }

            .menu-wrapper__number {
              display: none;
            }
          }


          .tabs-wrapper {
            display: none;
          }

          .mobile-menu-wrapper {
            display: block;

            .menu-wrapper__number {
              display: block;
            }

            .menu-wrapper__language-wrapper {
              display: block;
            }

            .mobile-menu {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}


@include sm() {
  .another-header {
    .header-content {
      .header-menu {
        nav {
          .menu-wrapper {
            position: relative;

            .menu-wrapper__link-wrapper {
              display: none;

              &:nth-child(3) {
                padding-right: 20px;
              }
            }


            .menu-wrapper__text {
              display: none;
            }

            .menu-wrapper__number {
              display: none;
            }

            .menu-wrapper__dot {
              display: none;
            }

            .menu-wrapper__facebook {
              display: none;
            }

          }


          .tabs-wrapper {
            display: none;
          }

          .mobile-menu-wrapper {
            display: block;

            .menu-wrapper__number {
              display: block;
            }

            .mobile-menu {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}