.second-page-header{
  @include headerStyle (none);

  .header-content {
    @extend %banner-and-header-bg;
    padding-top: 40px;

    .header-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-menu__logo-wrapper{
        .header-menu__logo{
          width: 307px;
          height: 63px;
        }
      }

      .menu-wrapper {
        display: flex;
        .menu-wrapper__link-wrapper{
          .menu-wrapper__link{
            color: $secondPage-headerColor;
            padding: 5px 8px;
            border-radius: 8px;
            &:hover{
              background-color: $tabs_font_and-link-color;
              color: white;
              transition: .2s;
            }
          }

        }

        .menu-wrapper__text{
          padding-left: 15px;
          color: $secondPage-headerColor;
        }

        .menu-wrapper__number{
          color: $secondPage-headerColor;
        }

        .menu-wrapper__dot{
          padding: 0 5px 0 15px;
        }

        .menu-wrapper__facebook{
          padding-left: 5px;
        }
      }

      .tabs-wrapper {
        text-align: right;
        .tabs-wrapper__tab-wrapper {
          &:not(:last-child) {
            padding-right: 15px;
          }

          .tabs-wrapper__tab {
            @include tabs-style(none, $text-and-link-color);
          }
        }
      }

      .mobile-menu-wrapper{
        text-align: right;
        .mobile-menu{
          display: none;
        }
      }

    }
  }
}